@use '@angular/material' as mat;

.event-list-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      color: mat.m2-get-color-from-palette(mat.$m2-indigo-palette, 500);
    }
  }
}

.mat-icon{
  font-size:24px !important; 
  width:24px;              
  height:24px;              

}

table {
  width: 100%;
}