<div class="home-container">
    <header class="header">
      <h1>Explorador de Mapas</h1>
      <p class="subtitle">Visualize dados geoespaciais em tempo real</p>
    </header>

    <main class="main-content">
      <button class="nav-button" (click)="navigateToForm()">
        Cadastrar Novo Evento
      </button>

      <button class="nav-button secondary" (click)="navigateToMap()">
        Ver Mapa
      </button>

      <button class="nav-button secondary" (click)="navigateToEvents()">
        Eventos Cadastrados
      </button>
    </main>


    <footer class="footer">
      <p>© 2025 - Fellipe Toledo</p>
    </footer>
  </div>